/* General setup */
@font-face {
    font-family: my-font;
    src: url(my-fonts/SedgwickAve-Regular.woff2) format("woff2"),
        url(my-fonts/SedgwickAveDisplay-Regular.woff) format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: my-font-2;
    src: url(my-fonts/Archistico-Normal.woff2) format("woff2"),
        url(my-fonts/Archistico-Normal.woff) format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    font-size: 10px;
    margin: 0;
    font-family: "Bitcount Prop Single";
    /* font-family: my-font, sans-serif; */
}

body {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
}

/* Typography */

h1 {
    font-size: 3.2rem;
    /* font-family: my-font-2, sans-serif; */

}

h2 {
    font-size: 2.4rem;
    font-family: my-font-2, sans-serif;

}

p {
    font-size: 1.4rem;
    line-height: 1.6;
    word-spacing: 0.6rem;
    font-family: "Bitcount Prop Single";
}