@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
    --primary-color: #0095DB;
    --secondary-color: #FBB200;
    --project-bg-color: #E1E8F1;
    --header-bg-color: #FFFFFF;
    --spacing: 1rem;
    --border-radius: 8px;
    --pill-radius: 99999%;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
    margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    /* 4. Increase line-height */
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}

/* ====== CONTAINER SETUP =====*/

.container {
    /* background-color: orange; */

    display: grid;
    grid-template: auto / 1fr fr;
    grid-template-rows: auto auto;

    min-height: 100vh;
    /* gap: 5px; */
    /* padding: 5px; */
}

/* ===== HEADER =====*/

.header {
    /* background-color: yellow; */
    grid-column: 2;
    display: grid;
    padding: 1rem 3rem 1rem 2rem;
    gap: var(--spacing);
}

.first-row {
    /* background-color: red; */
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;
}

.user-profile {
    /* background-color: blanchedalmond; */
    display: inline-flex;
    align-items: center;
    gap: 2rem;
    justify-self: end;
}

.second-row {
    /* background-color: chocolate; */
    display: grid;
    grid-template-columns: 6fr 4fr;
    align-items: center;
}

.greet {
    display: flex;
    align-items: center;
    gap: var(--spacing);
}

.greet img {
    height: 70px !important;
}

.user-actions {
    /* background-color: aqua; */
    display: flex;
    justify-content: end;
    gap: 2rem;
}

button {
    background-color: var(--primary-color);
    border-style: none;
    border-radius: 50px;
    height: 50px;
    width: 100px;
    color: white;
    font-weight: bold;
}

/* ===== SIDE BAR ===== */

.sidebar {
    background-color: var(--primary-color);
    grid-row: 1 / -1;
    padding: 20px;
    font-weight: bold;
    color: white;
    font-size: 1.3rem;
}

img[src^="icons"] {
    display: flex;
    height: 20px;
    width: auto;
    color: white;
}

.sidebar img {
    filter: invert(1);
}

.sidebar div {
    display: flex;
    place-items: center;
    gap: 20px;
    margin-bottom: 15px;
}

/* ===== MAIN INFO SECTION ===== */


.info {
    /* background-color: aqua; */
    grid-column: 2;
    display: grid;
    grid-template: auto auto / 2fr 1fr;
    gap: 20px;
    background-color: #E1E8F1;

}

/* ====== PROJECTS SECTION ====== */

.projects {
    grid-row: 1 / -1;
    padding: var(--spacing);

    border: 1px solid #E1E8F1;
    box-shadow: 0 2px 8px rgb(0 0 0 / 0.08);
}

.grid-1 {
    display: grid;
    grid-template: auto / 1fr 1fr;
    gap: 3rem;

}

.card {
    /* background-color: yellowgreen; */
    background-color: white;
    height: 200px;
    border-radius: var(--border-radius);

    display: grid;
    grid-template: 2fr 1fr / auto;
    padding: var(--spacing);

    border: 1px solid #e5e5e5;
    box-shadow: 0 2px 8px rgb(0 0 0 / 0.08);
}

.card {
    border-left: 5px solid #FBB200;
}

.content {
    grid-row: 1;
}

.btn-section {
    grid-row: 2;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: var(--spacing)
}

/* ====== ANNOUNCEMENTS ====== */

.announcements {
    /* background-color: blue; */
    padding: var(--spacing);
}

.grid-2 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    padding: var(--spacing);
    border-radius: var(--border-radius);
    /* border: solid 1px black; */
    background-color: white;


    border: 1px solid #e5e5e5;
    box-shadow: 0 2px 8px rgb(0 0 0 / 0.08);
}

.line {
    width: 100%;
    height: 0.5px;
    background-color: rgba(0, 0, 0, 0.441);
    margin: 10px 0;
}

.annoucement-card {
    display: grid;
    align-content: center;
}

/* ====== TRENDING ====== */

.trending {
    /* background-color: blueviolet; */
    padding: var(--spacing);
    position: relative;
    top: -1rem;
}

.grid-3 {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    border-radius: var(--border-radius);
    gap: 1rem;
    padding: var(--spacing);
    border: 1px solid #e5e5e5;
    box-shadow: 0 2px 8px rgb(0 0 0 / 0.08);
    background-color: white;
}

.trending-card {
    display: flex;
    /* border: solid 1px black; */
    border-radius: var(--border-radius);
    gap: var(--spacing);
    align-items: center;
}

.trending-card div {
    align-self: center;
}

img[src^="profilepic/"] {
    height: 42px;
    border-radius: var(--pill-radius);

}

/* ICONS & SEARCHBAR */

.icon {
    border-radius: var(--pill-radius);
    height: 40px;
    width: 40px;
    border: solid 1px black;
    background-color: orange;
    align-self: center;
    margin: 10px 20px;
}

#search {
    border-radius: 50px;
    width: 100%;
    height: 3.5vh;

    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

input[type="search"] {
    border: none;
    background-color: #E1E8F1;
}

img[src="icons/pp.svg"] {
    height: 40px;
}